    @media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {
      padding: 1em 0.7em;
    }
    .navbar {
      padding: 0;
    }
    .navbar .navbar-brand {
      padding: 0 0.7em;
    }
  }
  .navbar .navbar-nav .nav-link {
    position: relative;
  }
  .navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #F1Cf65;
    color: transparent;
    width: 0%;
    content: '';
    height: 3px;
    transition: all 0.5s;
  }
  .navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
  }
  .activ{
      font-weight: 700;
  }
  /*navbar ends here*/
  .indexbackimg{
        height: 1000px;
        background-image: url(./res/600293.jpg);
        background-repeat: no-repeat;
  }
h1{
    text-align: center;
    margin-top: 20%;
}
h1 a{
    color:white;
    text-decoration: none;
}
